body {
    height: 100vh;
}

.address-input-div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#city-input {
    width: 130px;
    height: 50px;
    border: solid 1px black;
    padding: 0 0 0 10px;
}

#address-input {
    width: 500px;
    height: 50px;
    border: solid 1px black;
    padding: 0 0 0 10px;
}

#address-input-btn {
    width: 52px;
    height: 52px;
    padding: 0;
    border: solid 1px black;
    cursor: pointer;
}


